  <!-- CSS -->
        <link rel="stylesheet" href="/src/partials/css/our-products.css">
        <link rel="stylesheet" href="/src/partials/css/swiper-bundle.min.css">         
        
        
    <div class="div-products">
    <section id="our-products">
        <div class="slide-container swiper">
            <div class="slide-content">
                <h2 class="our">OUR&nbsp<span class="product">PRODUCTS</span></h2>
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/orange@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">ORANGE</p>
                            <p class="description">Dark chocolate</p>
                            <button class="button">45 UAH</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/applecranberry@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">APPLE&CRANBERRY</p>
                            <p class="description">Milk chocolate</p>
                            <button class="button">50 UAH</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/lime-seasalt@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">lime&sea salt</p>
                            <p class="description">Dark chocolate</p>
                            <button class="button">66 UAH</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/pineaple@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">pineapple</p>
                            <p class="description">Dark chocolate</p>
                            <button class="button">54 UAH</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/classic@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">Classic</p>
                            <p class="description">Milk chocolate</p>
                            <button class="button">45 UAH</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/honey@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">Honey</p>
                            <p class="description">Milk chocolate</p>
                            <button class="button">50 UAH</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/roasted_fruits@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">Roasted fruits</p>
                            <p class="description">Dark chocolate</p>
                            <button class="button">66 UAH</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="/src/images/our-products/classic_white@1x.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="name">Classic</p>
                            <p class="description">White chocolate</p>
                            <button class="button">50 UAH</button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</div>