<section class="subscribe-section subscribe-section-two">
  <div class="subscribe-container subscribe-header">
    <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="paragraph-chocolate">
      From the velvety texture to the rich and complex flavor, our New Chocolate is a true
      indulgence that will leave you craving more. Made with only the finest ingredients and
      handcrafted with the utmost care, each piece is a work of art that is sure to please.
    </p>

    <button class="subscribe-button" type="button" data-modal-open-s>Subscribe</button>
  </div>
</section>

<div class="backdrop is-hidden" data-modal-s>
  <div class="subscribe-modal">
    <button type="button" class="subscribe-close-btn" data-modal-close-s>
      <svg class="subscribe-close-icon" width="16" height="16">
        <use href="/src/images/icons/icons.svg#icon-close-black-18dp-2-1"></use>
      </svg>
    </button>
    <div class="subscribe-image"></div>
    <h2 class="subscribe-title">
      EXPLORE OUR <br /><span class="orange-span">NEW CHOCOLATE</span>
      FIRST!
    </h2>
    <form class="footery-form">
      <label class="footery-label" for="user-email">
        <input
          required
          class="footery-input"
          type="email"
          id="user-email"
          name="subscribe"
          placeholder="Enter your email"
        />
      </label>
      <button class="subscribey-button" type="submit">Submit</button>
    </form>
  </div>
</div>
