<section class="top-sellers-section">
  <div class="top-sellers-container">
    <h2 class="top-sellers-headline" id="topsellers">
      Top <span class="top-sellers-span">Sellers</span>
    </h2>

    <ul class="top-sellers-list">
      <li class="top-sellers-li">
        <img
          class="top-sellers-img"
          src="/src/images/top-sellers/img1_desktop@1x.jpg"
          alt="chocolate, coffee beans and chestnuts on the wood table"
          width="368"
          height="464"
          srcset="
            /src/images/top-sellers/img1_desktop@1x.jpg 1x,
            /src/images/top-sellers/img1_desktop@2x.jpg 2x
          "
        />
      </li>

      <li class="top-sellers-li">
        <img
          class="top-sellers-img"
          src="/src/images/top-sellers/img2_desktop@1x.jpg"
          alt="chocolate cubes with raisins"
          width="368"
          height="464"
          srcset="
            /src/images/top-sellers/img2_desktop@1x.jpg 1x,
            /src/images/top-sellers/img2_desktop@2x.jpg 2x
          "
        />
      </li>

      <li class="top-sellers-li">
        <img
          class="top-sellers-img"
          src="/src/images/top-sellers/img3@1x.jpg"
          alt="chocolate cubes and pralines"
          width="368"
          height="464"
          srcset="/src/images/top-sellers/img3@1x.jpg 1x, /src/images/top-sellers/img3@2x.jpg 2x"
        />
      </li>

      <li class="top-sellers-li">
        <p class="top-sellers-p">
          Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
          Cacao has been around for thousands of years and was first discovered by the Native
          American tribe called the Mayans.
        </p>
      </li>

      <li class="top-sellers-li">
        <button class="top-sellers-button" type="button" data-modal-additional-b>Buy now</button>
      </li>
    </ul>
  </div>
</section>
