<section class="container unique-box">
  <h3 class="unique-headline">
    IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="taste">TASTE</span> SENSATION
  </h3>
  <p class="unique-p">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From
    the sourcing of the finest ingredients to the careful crafting of each individual piece, every
    step of our process adds up to one exceptional taste sensation.
  </p>
  <ul class="list cards">
    <li>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="/src/images/unique_components/milk-chocolate@1x.png"
              alt="Milk chocolate"
              srcset="
                /src/images/unique_components/milk-chocolate@1x.png 1x,
                /src/images/unique_components/milk-chocolate@2x.png 2x
              "
              class="front-card-img"
            />

            <p class="front-card-title">Milk ChoCoLatE</p>
          </div>
          <div class="flip-card-back">
            <div class="inside">
              <div class="title-buttons-box">
                <h4 class="back-card-title">MILK chocolate</h4>
                <div class="back-card-buttons">
                  <p class="card-button-orange">chocolate</p>
                  <p class="card-button-white">the benefits</p>
                </div>
              </div>
              <p class="card-back-text">
                Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk.
                It is the most consumed type of chocolate. Chocolate was originally sold and
                consumed as a beverage in pre-Columbian times. Although four-fifths of all milk
                chocolate is sold in the United States and Europe.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front two">
            <img
              src="/src/images/unique_components/milk@1x.png"
              alt="bottle of milk"
              srcset="
                /src/images/unique_components/milk@1x.png 1x,
                /src/images/unique_components/milk@2x.png 2x
              "
              class="front-card-img"
            />

            <p class="front-card-title second">Milk</p>
          </div>
          <div class="flip-card-back">
            <div class="inside">
              <div class="title-buttons-box">
                <h4 class="back-card-title">MILK</h4>
                <div class="back-card-buttons">
                  <p class="card-button-orange">milk</p>
                  <p class="card-button-white">the benefits</p>
                </div>
              </div>
              <p class="card-back-text">
                Milk is a white liquid food produced by the mammary glands of mammals. It is the
                primary source of nutrition for young mammals (including breastfed human infants)
                before they are able to digest solid food.Early-lactation milk, which is called
                colostrum, contains antibodies that strengthen the immune system.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front three">
            <img
              src="/src/images/unique_components/nuts@1x.png"
              alt="hazelnuts"
              srcset="
                /src/images/unique_components/nuts@1x.png 1x,
                /src/images/unique_components/nuts@2x.png 2x
              "
              class="front-card-img"
            />

            <p class="front-card-title">nUTs</p>
          </div>
          <div class="flip-card-back">
            <div class="inside">
              <div class="title-buttons-box">
                <h4 class="back-card-title">nUTs</h4>
                <div class="back-card-buttons">
                  <p class="card-button-orange">nuts</p>
                  <p class="card-button-white">the benefits</p>
                </div>
              </div>
              <p class="card-back-text">
                Almonds, pistachios, and walnuts are some types of nuts that contain healthy
                nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer
                benefits such as reducing your risk of heart disease. They’re a good source of
                fiber, healthy fats, and plant protein. Plus, they’re great on their own.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front two">
            <img
              src="/src/images/unique_components/chocolate@1x.png"
              alt="chocolate grains"
              srcset="
                /src/images/unique_components/chocolate@1x.png 1x,
                /src/images/unique_components/chocolate@2x.png 2x
              "
              class="front-card-img"
            />

            <p class="front-card-title second">semi-sweet chocolate</p>
          </div>
          <div class="flip-card-back">
            <div class="inside">
              <div class="title-buttons-box">
                <h4 class="back-card-title">semi-sweet chocolate</h4>
                <div class="back-card-buttons">
                  <p class="card-button-orange">sweet chocolate</p>
                  <p class="card-button-white">the benefits</p>
                </div>
              </div>
              <p class="card-back-text back-text">
                Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to
                gain an understanding of this type of chocolate is to compare it to a different type
                of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has
                a slightly bitter taste whereas milk chocolate is sweeter.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
