/* ================================================= MOBILE 👇 ========================================= */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscribe-section {
    margin: 72px 0;
    padding: 0 20px;
  }
  .subscribe-container {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .subscribe-container {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .subscribe-section-two {
    display: flex;
    min-width: 375px;
    padding: 62px 20px 63px 20px;
    justify-content: center;
    align-items: center;
  }

  .subscribe-title {
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    max-width: 291px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-transform: capitalize;
  }

  .subscribe-section {
    margin: 0 auto;

    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url('/src/images/subscribe/subscribe_mobile@1x.jpg'),
      lightgray -412px -477.287px / 320% 372.105% no-repeat;

    background-position: 69%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title-section {
      background-image: url('/src/images/subscribe/subscribe_mobile@2x.jpg');
    }
  }

  .paragraph-chocolate {
    max-width: 326px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-bottom: 24px;
  }

  .subscribe-button {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    background-color: var(--orange);
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 128px;
    padding: 16px 32px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: var(--light-orange);
    color: var(--orange);
  }
  /* subscribe-modal */

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 350px;
    border-radius: 15px;
    background: var(--beige);
    cursor: default;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-close-btn {
    display: flex;
    background: none;
    fill: #ffffff;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    align-items: center;
    position: absolute;
    top: 15px;
    padding: 0;
    right: 14px;
    z-index: 1;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .subscribe-close-btn:hover,
  .subscribe-close-btn:focus {
    border: none;
    color: var(--orange);
    fill: orange;
  }

  .subscribe-close-icon {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }

  .subscribe-close-icon:hover,
  .subscribe-close-icon:active {
    color: var(--orange);
    fill: var(--orange);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-hidden .subscribe-modal {
    transform: translateY(100%);
  }

  .subscribe-image {
    overflow: hidden;
    margin-bottom: 24px;
    height: 169px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: url('/src/images/subscribe/unsplash1.jpg');
  }

  .subscribe-image {
    overflow: hidden;
    margin-bottom: 24px;
    height: 169px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: url('/src/images/subscribe/unsplash1.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-image {
      background-image: url('/src/images/subscribe/unsplash1@2x.jpg');
    }
  }

  .subscribe-modal .subscribe-title {
    color: var(--pureblack);
    text-align: start;
    margin-bottom: 24px;
    margin-left: 24px;
  }
  .orange-span {
    color: var(--orange);
  }

  .footery-form {
    display: flex;
    align-items: center;
    max-width: 263px;
    margin: 0 auto;
  }
  .footery-label {
    max-width: 263px;
  }
  .footery-input {
    background-color: transparent;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    color: #404040;
    border-radius: 25px;
    padding: 14px 18px;
    width: 227px;
    height: 45px;
    font-size: 14px;
    letter-spacing: 0.04em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
  }

  .footery-input:hover,
  .footery-input:active {
    border: 1.5px solid var(--orange);
    outline: none;
  }

  .footery-input::placeholder {
    color: rgba(64, 64, 64, 0.3);
  }

  .subscribey-button {
    position: absolute;
    right: 24px;
    background-color: var(--orange);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 14px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100px;
    height: 45px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 25px;
    border: none;
    fill: white;
  }

  .subscribey-button:hover,
  .subscribey-button:focus {
    background-color: var(--light-orange);
    color: var(--orange);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/* ================================================= TABLET 👇 ========================================= */

@media screen and (min-width: 768px) {
  .subscribe-container {
    width: 467px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    max-width: 758px;

    margin: 0 auto;
  }

  .subscribe-section-two {
    display: inline-flex;
    padding: 72px 151px 72px 150px;
    justify-content: center;
    align-items: center;
  }

  .subscribe-title {
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    max-width: 378px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .subscribe-section {
    margin: 0 auto;

    height: 370px;
    display: flex;
    align-items: center;
    padding: 72px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url('/src/images/subscribe/subscribe_tablet@1x.jpg'),
      lightgray -215px -481.157px / 156.25% 375.122% no-repeat;

    background-position: 69%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title-section {
      background-image: url('/src/images/subscribe/subscribe_tablet@2x.jpg');
    }
  }

  .paragraph-chocolate {
    max-width: 467px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-bottom: 24px;
  }

  .subscribe-button {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    background-color: var(--orange);

    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: var(--light-orange);
    color: var(--orange);
  }

  /* subscribe-modal */

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 538px;
    height: 412px;
    border-radius: 15px;
    background: #fff;
    cursor: default;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-close-btn {
    display: flex;
    background: none;
    fill: #fff;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    align-items: center;
    position: absolute;
    top: 15px;
    padding: 0;
    right: 14px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: none;


  }

  .subscribe-close-btn:hover,
  .subscribe-close-btn:focus {
    border: none;
    fill: var(--orange);
  }

  .subscribe-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }

  .subscribe-close-icon:hover,
  .subscribe-close-icon:active {
    color: var(--orange);
    fill: var(--orange);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-hidden .subscribe-modal {
    transform: translateY(100%);
  }

  .subscribe-image {
    overflow: hidden;
    margin-bottom: 40px;
    height: 196px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: url('/src/images/subscribe/unsplash1.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-image {
      background-image: url('/src/images/subscribe/unsplash1@2x.jpg');
    }
  }

  .subscribe-modal .subscribe-title {
    color: var(--pureblack);
    text-align: start;
    margin-bottom: 28px;
    margin-left: 40px;
  }
  .orange-span {
    color: var(--orange);
  }

  .footery-form {
    display: flex;
    align-items: start;
    max-width: 313px;
    margin-left: 40px;
    gap: 8px;
  }
  .footery-label {
    max-width: 313px;
    gap: 8px;
  }
  .footery-input {
    background-color: transparent;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    color: #404040;
    border-radius: 25px;
    padding: 14px 18px;
    width: 313px;
    height: 45px;
    font-size: 14px;
    letter-spacing: 0.04em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    gap: 8px;
  }

  .footery-input:hover,
  .footery-input:active {
    border: 1.5px solid var(--orange);
    outline: none;
  }

  .footery-input::placeholder {
    color: rgba(64, 64, 64, 0.3);
  }

  .subscribey-button {
    background-color: var(--orange);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 17px 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 137px;
    height: 45px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 25px;
    border: none;
    fill: white;
  }

  .subscribey-button:hover,
  .subscribey-button:focus {
    background-color: var(--light-orange);
    color: var(--orange);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1200px) {
  /* co jest potrzebne dla desktopu */

  .subscribe-container {
    width: 467px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    max-width: 1158px;
    padding: 0;
    margin: 0 auto;
  }

  .subscribe-section-two {
    padding: 72px 367px 72px 366px;
    justify-content: center;
    align-items: center;
  }

  .subscribe-title {
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    max-width: 378px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .subscribe-section {
    margin: 0 auto;
    min-width: 1200px;
    display: flex;
    align-items: center;
    height: 370px;
    padding: 72px 0;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url('/src/images/subscribe/subscribe_desktop@1x.jpg'),
      lightgray 0px -481.157px / 100% 375.122% no-repeat;

    background-position: 69%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .title-section {
      background-image: url('/src/images/subscribe/subscribe_desktop@2x.jpg');
    }
  }

  .paragraph-chocolate {
    max-width: 467px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin-bottom: 24px;
  }

  .subscribe-button {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    background-color: var(--orange);

    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: var(--light-orange);
    color: var(--orange);
  }

  /* subscribe-modal */

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 538px;
    height: 412px;
    border-radius: 15px;
    background: #fff;
    cursor: default;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-close-btn {
    display: flex;
    background: none;
    fill: #fff;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    align-items: center;
    position: absolute;
    top: 15px;
    padding: 0;
    right: 14px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .subscribe-close-btn:hover,
  .subscribe-close-btn:focus {
    border: none;
    fill: var(--orange);
  }

  .subscribe-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-close-icon:hover,
  .subscribe-close-icon:active {
    color: var(--orange);
    fill: var(--orange);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-hidden .subscribe-modal {
    transform: translateY(100%);
  }

  .subscribe-image {
    overflow: hidden;
    margin-bottom: 40px;
    height: 196px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: url('/src/images/subscribe/unsplash1.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-image {
      background-image: url('/src/images/subscribe/unsplash1@2x.jpg');
    }
  }

  .subscribe-modal .subscribe-title {
    color: var(--pureblack);
    text-align: start;
    margin-bottom: 28px;
    margin-left: 40px;
  }
  .orange-span {
    color: var(--orange);
  }

  .footery-form {
    display: flex;
    align-items: start;
    max-width: 313px;
    margin-left: 40px;
    gap: 8px;
  }
  .footery-label {
    max-width: 313px;
    gap: 8px;
  }
  .footery-input {
    background-color: transparent;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    color: #404040;
    border-radius: 25px;
    padding: 14px 18px;
    width: 313px;
    height: 45px;
    font-size: 14px;
    letter-spacing: 0.04em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    gap: 8px;
  }

  .footery-input:hover,
  .footery-input:active {
    border: 1.5px solid var(--orange);
    outline: none;
  }

  .footery-input::placeholder {
    color: rgba(64, 64, 64, 0.3);
  }

  .subscribey-button {
    background-color: var(--orange);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 17px 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 137px;
    height: 45px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 25px;
    border: none;
    fill: white;
  }

  .subscribey-button:hover,
  .subscribey-button:focus {
    background-color: var(--light-orange);
    color: var(--orange);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
