* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
}


/* ================================================= MOBILE ========================================= */


@media screen and (min-width: 320px) and (max-width: 767px) {

    .top-sellers-section {
        margin: 72px 0;
        padding: 0 20px;
    }

    .top-sellers-container {
        padding: 0;
        width: 100%;
        margin: 0 auto;

    }

    .top-sellers-headline {
        color: #FD9222;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        margin: 0 auto;

    }

    .top-sellers-span {
        color: #111;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    .top-sellers-list {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        margin-bottom: 20px;
        justify-content: center;
        list-style: none;
        padding: 0;
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;

    }

    .top-sellers-li {}

    .top-sellers-li:nth-child(3) {
        display: none;
    }

    .top-sellers-li:nth-child(2) {
        order: 3;
        margin-top: 32px;
    }


    .top-sellers-li:nth-child(5) {
        order: 4;

    }

    .top-sellers-img {
        width: 335px;
        height: 464px;
        border-radius: 15px;
    }

    .top-sellers-p {
        color: #111;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        width: 306px;
        margin-top: 20px;
        text-align: start;

    }

    .top-sellers-button {
        color: #FFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        width: 120px;
        height: 41px;
        padding: 12px 28px;
        align-items: flex-start;
        gap: 14px;
        flex-shrink: 0;
        border-radius: 100px;
        background-color: #FD9222;
        border: none;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    .top-sellers-button:hover,
    .top-sellers-button:focus {
        background-color: #FCF1E0;
        color: #FD9222;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .top-sellers-container {
        padding: 0;
        width: 335px;
    }
}

/* ================================================= TABLET ========================================= */

@media screen and (min-width: 768px) {


    .top-sellers-section {
        padding: 0 32px;
        margin: 128px 0;
    }

    .top-sellers-container {
        padding: 0;
        width: 704px;
        margin: 0 auto;

    }

    .top-sellers-headline {
        color: #FD9222;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        margin: 0 auto;

    }

    .top-sellers-span {
        color: #111;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    .top-sellers-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;   
        row-gap: 32px;
        justify-content: center;
    }

    .top-sellers-li:nth-child(1) {
        margin-right: 16px;
    }

    .top-sellers-li:nth-child(4) {
        margin-right: 220px;
    }

    .top-sellers-li:nth-child(3) {
        display: none;
    }

    .top-sellers-img {
        width: 335px;
        height: 464px;
        border-radius: 15px;
    }

    .top-sellers-p {
        color: #111;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        width: 306px;
        text-align: start;

    }

    .top-sellers-button {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        width: 162px;
        height: 50px;
        padding: 14px 40px;
        align-items: flex-start;
        gap: 14px;
        flex-shrink: 0;
        border-radius: 100px;
        background-color: #FD9222;
        border: none;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top-sellers-button:hover,
    .top-sellers-button:focus {
        background-color: #FCF1E0;
        color: #FD9222;
    }

}

/* ================================================= DESKTOP  ========================================= */
@media screen and (min-width: 1200px) {

    .top-sellers-section {

        padding: 0 32px;
        margin-top: 128px;
        margin-bottom: 128px;
    }

    .top-sellers-container {
        padding: 0;
        width: 1136px;
        margin: 0 auto;

    }

    .top-sellers-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        gap: 16px;
        justify-content: space-between;
        row-gap: 32px;
    }

        .top-sellers-li:nth-child(1) {
            margin-right: 0;
        }
    
        .top-sellers-li:nth-child(4) {
            margin-right: 0;
        }
    

    .top-sellers-li:nth-child(3) {
        display: block;
    }

    .top-sellers-img {
        width: 368px;
        height: 464px;
        border-radius: 15px;
    }

    .top-sellers-p {
        width: 407px;
    }

    .top-sellers-button {

        font-size: 18px;
        width: 162px;
        height: 50px;
        padding: 14px 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .top-sellers-button:hover,
    .top-sellers-button:focus {
        background-color: #FCF1E0;
        color: #FD9222;
    }

}
