@media screen and (min-width: 320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 72px;
    margin: 0 auto;
  }

  .unique-box {
    display: flex;
    flex-direction: column;
  }

  .unique-headline {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-transform: uppercase;

    width: 283px;
    height: 72px;
    flex-shrink: 0;

    align-self: center;
    margin: 0;
    margin-bottom: 24px;
  }

  .taste {
    color: #fd9222;
  }

  .unique-p {
    font-size: 14px;
    text-align: center;
    color: #111;
    margin: 0 0 32px;
    max-width: 335px;
    align-self: center;
    font-family: Montserrat;

    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.28px;

  }

  .list {
    list-style: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: #fd9222;
    width: 335px;
    height: 270px;
    border-radius: 15px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
    border-color: transparent;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #fd9222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .flip-card-front.two {
    background-color: #fff;
    color: #111;
    border: 1px solid #fd9222;
  }

  .flip-card-front.three {
    background-color: #1e1823;
  }

  .front-card-title {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 28px;
    margin-bottom: 28px;
    font-family: Montserrat;
  }

  .front-card-title.second {
    color: #111;
    font-family: Montserrat;
  }

  .front-card-img {
    align-self: center;
    width: 224px;
    height: 171px;
    margin-bottom: 25px;
    margin-top: 28px;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: #fff;
    color: #111;
    transform: rotateX(180deg);
    padding: 28px;
    border: none;
  }

  .inside {
    display: flex;
    width: 279px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex-shrink: 0;
  }

  .title-buttons-box {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
    font-family: Montserrat;
  }

  .back-card-title {
    color: #111;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    font-family: Montserrat;
  }

  .back-card-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
  }

  .card-button-orange {
    color: #fff;
    background-color: #fd9222;
    border-radius: 35px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: Montserrat;
  }

  .card-button-white {
    background: #fff;
    border-radius: 35px;
    border: 1px #fd9222 solid;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: Montserrat;
  }

  .card-back-text {
    text-align: left;
    font-family: Montserrat;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .unique-headline {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;

    width: 411px;
  }

  .taste {
    color: #fd9222;
  }

  .unique-p {
    font-size: 14px;
    max-width: 486px;
    font-family: Montserrat;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 0 32px;
  }

  .unique-headline {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }

  .taste {
    color: #fd9222;
  }

  .unique-p {
    font-size: 14px;
    font-family: Montserrat;
  }

  .flip-card {
    background-color: #fd9222;
    width: 270px;
    height: 270px;
  }

  .cards {
    column-gap: 19px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
  }

  .title-buttons-box {
    display: flex;
    direction: column;
    align-items: flex-start;
    gap: 8px;
    font-family: Montserrat;
  }

  .card-back-text {
    width: 230px;
    height: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat;
  }

  .card-back-text.back-text {
    height: 140px;
    font-family: Montserrat;
  }

  .card-button-orange,
  .card-button-white {
    font-size: 10px;
    line-height: 1.2;
  }
}
