/*================MOBILE================*/
@media (min-width: 320px) {
  .footer-title {
    font-size: 24px;
    font-style: normal;
    text-transform: none;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.48px;
    color: #fff;
    width: 300px;
    padding: 32px 0;
  }

  .chocolate-span {
    color: var(--orange);
  }

  .link {
    text-decoration: none;
    cursor: pointer;
  }

  .address-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    flex-shrink: 0;
  }

  .address-p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-align: center;
    font-style: normal;
  }
  .address-ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 32px;
  }

  .mail,
  .phone {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-align: center;
    font-style: normal;
  }

  footer {
    background-color: var(--blackish);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .footer-container {
    margin-left: 20px;
    position: relative;
  }

  .bar {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
  }

  .nav-ul {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .nav-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
    color: #fff;
    font-style: normal;
  }
  .social-container {
    display: flex;
    align-items: center;
    width: 58px;
    height: 22px;
    position: absolute;
    top: 120px;
    right: 0px;
  }
  .social-ul {
    display: flex;
    gap: 14px;
  }

  .svg-social {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    fill: none;
    stroke: #fff;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  footer {
    width: 100%;
    padding: 0;
  }

  .footer-container {
    width: 375px;
  }
}
/*================TABLET================*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-top-content {
    display: flex;
  }
  .address-container {
    padding-top: 50px;
    margin-left: 124px;
  }
  .footer-title {
    padding-top: 50px;
  }

  .bar {
    width: 704px;
  }

  .nav-ul {
    flex-direction: row;
    gap: 24px;
  }

  .social-container {
    top: 50px;
  }

  footer {
    width: 100%;
  }
  .nav-ul {
    padding-bottom: 50px;
    padding-top: 24px;
  }

  .mail,
  .phone,
  .nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail:hover,
  .mail:focus,
  .phone:hover,
  .phone:focus,
  .nav-link:hover,
  .nav-link:focus {
    color: var(--orange);
  }

  .svg-social:focus,
  .svg-social:hover {
    stroke: var(--orange);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/*================DESKTOP================*/
@media screen and (min-width: 1200px) {
  .footer-top-content {
    display: flex;
  }
  .address-container {
    padding-top: 50px;
    margin-left: 550px;
  }
  .footer-title {
    padding-top: 50px;
  }

  .bar {
    width: 1136px;
  }

  .nav-ul {
    flex-direction: row;
    gap: 24px;
  }

  .social-container {
    top: 50px;
  }

  footer {
    width: 100%;
  }

  .nav-ul {
    padding-bottom: 50px;
    padding-top: 24px;
  }

  .footer-title {
    font-size: 28px;
    font-style: normal;
    text-transform: none;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
    color: #fff;
    width: 300px;
    padding-top: 50px;
    padding-bottom: 62px;
    text-align: left;
  }

  .mail,
  .phone,
  .nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail:hover,
  .mail:focus,
  .phone:hover,
  .phone:focus,
  .nav-link:hover,
  .nav-link:focus {
    color: var(--orange);
  }

  .svg-social:focus,
  .svg-social:hover {
    stroke: var(--orange);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
