/* Modal Window - Buy Now */

.buy-now-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 311px;
  width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 32px 24px;
  border-radius: 15px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: #FAFAFA;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-now-modal::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 5px;
  height: 200px;
}

.buy-now-modal::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.backdrop.is-hidden .buy-now-modal {
  transform: translate(-50%, -50%) scale(1.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-close-btn {
  position: absolute;
  border: none;

  background-color: transparent;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 14px;
  right: 14px;
}

.buy-close-btn-icon {
  width: 24px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-close-btn-icon:hover,
.buy-close-btn-icon:focus {
  fill: var(--main-accent-color);
  transform: scale(1.1);
}

.buy-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--modal-buy-text);
  margin-bottom: 32px;
}

.buy-now-img {
  width: 84px;
}

/*============= Buy Form ========== */

.buy-form {
  display: flex;
  flex-direction: column;
}

.buy-span {
  color:#fd9222;
}

.buy-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.buy-input-wrapper {
  position: relative;
}

.buy-form-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0px;
}

.buy-form-input:hover,
.buy-form-input:focus {
  border-color: var(--main-accent-color);
}

.buy-item {
  width: 100%;
  background-color: var(--white-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5.44px 5.44px rgba(0, 0, 0, 0.03);
}

.buy-radio:checked + .buy-list-btn {
  background-color: var(--btn-bg-hover);
  border-color: var(--main-accent-color);
}

/* cart btn */
.buy-list-btn {
  display: block;
  padding: 6px 16px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-color);
  cursor: pointer;
}

.buy-form-descr {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--modal-buy-text);
  margin-bottom: 8px;
}

.buy-form-field {
  margin-bottom: 18px;
  width: 100%;
}

.buy-form-field:nth-child(odd) {
  margin-bottom: 14px;
}

.buy-form-input {
  display: flex;
  
  padding: 14px 18px;
  width: 100%;
  position: relative;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  box-shadow: 0px 5.44px 5.44px rgba(0, 0, 0, 0.03);
  font-size: 14px;
  line-height: 1.21;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.buy-phone-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}

.buy-card-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 32px;
  height: 21px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.phone-icon {
  position: absolute;
  display: flex;
  left: 20px;
  bottom: 11px;
  text-align: center;
}

.buy-input-wrapper {
  position: relative;
  display: block;
}

.buy-form-input-tel {
  padding-left: 106px;
}

.buy-input-tel-text {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.buy-input-tel-text::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -10px;
  width: 1px;
  height: 32px;
  background-color: #4040404d;
}

.buy-message {
  display: block;
  width: 100%;
  height: 137px;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  box-shadow: 0px 5.44px 5.44px rgba(0, 0, 0, 0.03);
  resize: none;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.buy-message:hover,
.buy-message:focus {
  border-color: var(--main-accent-color);
}

.buy-submit-btn {
  display: block;
  margin-right: auto;
  padding: 12px 28px;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--white-color);

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: #fd9222;
}

.buy-submit-btn:hover,
.buy-submit-btn:focus {
  color: var(--main-accent-color);
  background-color: var(--btn-bg-hover);
  transform: scale(1.1);
  /* outline: none; */
}

.buy-submit-btn:active {
  color: var(--main-accent-color);
  background-color: var(--btn-bg-hover);
  transform: scale(1.1);
}

.buy-form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.buy-message::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }

  .buy-text {
    font-size: 24px;
    line-height: 1.17;
  }

  .buy-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 40px;
  }

  .buy-item {
    padding: 24px 20px 18px;
    flex-basis: calc((100% - 32px) / 3);
    flex-direction: column;
    justify-content: unset;
    gap: 14px;
  }

  .buy-now-modal {
    min-width: 609px;

    padding: 48px;
  }

  .buy-now-img {
    width: 120px;
  }

  .buy-list-btn {
    padding: 8px 18px;
  }

  .buy-form-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 0px;
    gap: 21px;
  }

  .buy-form-input.buy-form-input-tel {
    padding-left: 106px;
  }

  .buy-picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buy-form-descr {
    font-size: 14px;
    line-height: 1.29;
  }

  .buy-form-input::placeholder {
    font-size: 18px;
    line-height: 22px;
  }

  .buy-submit-btn {
    padding: 14px 40px;
  }

  .buy-form-input {
    padding: 22px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
  }

  @media screen and (min-height: 1123px) {
    .buy-now-modal {
      overflow-y: hidden;
    }
  }
}